<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/admin/assets/css/styles.min.css" />
  <link rel="stylesheet" href="/admin/assets/css/users.css" />
  
  <title>Admin Dashboard</title>

  <link rel="stylesheet" href="/admin/assets/css/coupon/coupon.css">
  <link rel="stylesheet" href="/admin/assets/css/offer/offer.css">
  <link rel="stylesheet" href="/admin/assets/css/snackbar/snackbar.css">
  <style>


  </style>
  <style>
    

  </style>
 
</head>
<body>
  <div id="snackbar"></div>
  <!-- Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between hello">
        
            <img src="/admin/assets/images/logos/dark-logo.svg" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/category" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Category</span>
              </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/brands" aria-expanded="false">
                  <span></span>
                  <span class="hide-menu">Brands</span>
                </a>
              </li>

              
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Products</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/users" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Users</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Orders</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/coupons" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Coupon</span>
              </a>
            </li>
          
            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/offers" aria-expanded="false">
                  <span></span>
                  <span class="hide-menu">Offer</span>
                </a>
              </li>
              <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/salesreport" aria-expanded="false">
                  <span></span>
                  <span class="hide-menu">Sales Report</span>
                </a>
              </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#" aria-expanded="false">
                <span></span>
                <span class="hide-menu"  id="logout-link"  >Logout</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!-- Sidebar End -->
    <!-- Main wrapper -->
    
<body>
  <link rel="stylesheet" href="/admin//assets/css/styles.min.css" />
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
 
  <!--  Sidebar End -->
  <!--  Main wrapper -->









  <!-- List of offers -->
  <h2>Offers</h2>
  <ul id="coupon-list">
      <% offer.forEach((offer,index )=> { %>
      <li>
          <span><%= offer.offerName %>-<%= offer.discount %> </span> 
          <!-- <span> ₹<%= offer.redeemAmount %></span>  redeem_amount -->
          <span> <%=offer.expirationDate  %></span>
          <a href="/admin/editoffers?oId=<%= offer._id %>"> <button class="edit-coupon-btn" id="edit-coupon-btn<%= index %>" data-id="<%= offer._id %>">Edit</button></a>
            <!-- -->
          <button class="delete-coupon-btn" data-id="<%= offer._id %>">Delete</button><!-- -->
      </li>   
      <% }) %>
      <button id="add-coupon-button">Add Offer</button>
  </ul>


  
 <!-- Form to create a new offer -->
<div id="coupon-form-container" style="display: none;">
  <form id="create-coupon-form"  onsubmit=" return  validateModal( )" novalidate>
    <h4>Manage Offers</h4>
    <input type="text" name="offerName" id="offerName" placeholder="Offer Name" required>
    <p id="offerNameErr"></p>
    <input type="number" name="discount" id="discount" placeholder="Discount Percentage" required>
    <p id="discountErr"></p>
    <input type="number" name="redeem_amount" id="redeem_amount" placeholder="Redeem Amount" required>
    <p id="redeem_amountErr"></p>

    <select name="offerType" id="offerType">
      <option value="">Offer Type</option>
      <option value="categoryWise">Category Wise</option>
      <option value="productWise">Product Wise</option>
    </select>

    <select name="category" id="categorySelect" class="hidden" onchange="updateCategoryData()">
      <option value="">Select a category</option>
      <% if (category) { %>
        <% category.forEach((category) => { %>
          <option value="<%= category._id %>" data-name="<%= category.categoryName %>">
            <%= category.categoryName %>
          </option>
        <% }) %>
      <% } %>
    </select>

    <select name="product" id="productSelect" class="hidden" onchange="updateProductData()">
      <option value="">Select a product</option>
      <% if (product) { %>
        <% product.forEach((product) => { %>
          <option value="<%= product._id %>" data-name="<%= product.productName %>">
            <%= product.productName %>
          </option>
        <% }) %>
      <% } %>
    </select>

    <input type="hidden" name="categoryName" id="categoryName">
    <input type="hidden" name="productName" id="productName">

    <input type="date" name="validUntil" id="validUntil" placeholder="Valid Until" required>

    <button type="submit">Create Offer</button>
  </form>
</div>


 






 <!-- Pagination -->
 <div class="pagination-container-offer">
  <ul class="pagination">
      <% if (currentPage > 1) { %>
      <li class="page-item">
          <a class="page-link" href="/admin/offers?page=<%= currentPage - 1 %>&limit=<%= limit %>">Previous</a>
      </li>
      <% } else { %>
      <li class="page-item disabled">
          <a class="page-link" href="#">Previous</a>
      </li>
      <% } %>

      <% for (let i = 1; i <= totalPages; i++) { %>
      <li class="page-item <%= i === currentPage ? 'active' : '' %>">
          <a class="page-link" href="/admin/offers?page=<%= i %>&limit=<%= limit %>"><%= i %></a>
      </li>
      <% } %>

      <% if (currentPage < totalPages) { %>
      <li class="page-item">
          <a class="page-link" href="/admin/offers?page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a>
      </li>
      <% } else { %>
      <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
      </li>
      <% } %>
  </ul>
</div><!-- End .pagination-container -->











</div>

<script>

  document.getElementById('offerType').addEventListener('change', function() {
    let categorySelect = document.querySelector('#categorySelect');
    let productSelect = document.querySelector('#productSelect');

    if (this.value === 'categoryWise') {
      categorySelect.classList.remove('hidden');
      productSelect.classList.add('hidden');
    } else if (this.value === 'productWise') {
      categorySelect.classList.add('hidden');
      productSelect.classList.remove('hidden');
    } else {
      categorySelect.classList.add('hidden');
      productSelect.classList.add('hidden');
    }
  });

  // document.getElementById('offerTypeEdit').addEventListener('change', function() {
  //   let categorySelect = document.querySelector('#categorySelectEdit');
  //   let productSelect = document.querySelector('#productSelectEdit');

  //   if (this.value === 'categoryWise') {
  //     categorySelect.classList.remove('hidden');
  //     productSelect.classList.add('hidden');
  //   } else if (this.value === 'productWise') {
  //     categorySelect.classList.add('hidden');
  //     productSelect.classList.remove('hidden');
  //   } else {
  //     categorySelect.classList.add('hidden');
  //     productSelect.classList.add('hidden');
  //   }
  // });

</script>

<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../assets/js/dashboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.getElementById('logout-link').addEventListener('click', function(event) {
    event.preventDefault();
    Swal.fire({
        title: 'Do you want to logout?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, logout',
        cancelButtonText: 'No, stay logged in'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = '/admin/logout';
        }
    });
});
</script>


<script>


const createCouponForm = document.getElementById('create-coupon-form');
const categorySelect = document.getElementById('categorySelect');
const productSelect = document.getElementById('productSelect');
const categoryNameInput = document.getElementById('categoryName');
const productNameInput = document.getElementById('productName');

function updateCategoryData() {
  const selectedCategory = categorySelect.options[categorySelect.selectedIndex];
  categoryNameInput.value = selectedCategory.getAttribute('data-name');
  console.log(categoryNameInput,'categoryNameInput');
}

function updateProductData() {
  const selectedProduct = productSelect.options[productSelect.selectedIndex];
  productNameInput.value = selectedProduct.getAttribute('data-name');
  console.log(productNameInput,'productNameInput');
}
  document.addEventListener('DOMContentLoaded', () => {


createCouponForm.addEventListener('submit', async (e) => {
  e.preventDefault();

  const isValid = validateModal();

if (!isValid) return;

 // Include category and product IDs
 const categoryNameInput = document.getElementById('categoryName');
const productNameInput = document.getElementById('productName');
 const selectedCategory = categorySelect.options[categorySelect.selectedIndex].value;
  const selectedProduct = productSelect.options[productSelect.selectedIndex].value;
  console.log(selectedCategory);
  console.log(selectedProduct,'selectedProduct');
  
  const formData = new FormData(createCouponForm);
  const couponData = {};

  formData.forEach((value, key) => couponData[key] = value);

 

  // if (selectedCategory) {
  //   couponData.categoryId = selectedCategory;
  // }

  // if (selectedProduct) {
  //   couponData.productId = selectedProduct;
  // }

  console.log(couponData, "couponData");

  try {
    const response = await fetch('/admin/offers', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(couponData)
    });

    const result = await response.json();
    console.log(result);

    if (result.success) {
      showSnackBar(result.message);
      setTimeout(() => {
        window.location.href = '/admin/offers';
      }, 4000);
    } else {
      showSnackBar( result.message)
      // alert('Error creating coupon: ' + result.message);
    }
  } catch (error) {
    console.error('Error:', error);
  }
});

const couponList = document.getElementById('coupon-list');

couponList.addEventListener('click', async (e) => {
    if (e.target.classList.contains('delete-coupon-btn')) {
        const couponId = e.target.getAttribute('data-id');

        // Show confirmation dialog
        const result = await Swal.fire({
            title: 'Are you sure?',
            text: "Do you really want to delete this coupon?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!'
        });

        if (result.isConfirmed) {
            try {
                const response = await fetch(`/admin/offers/${couponId}`, {
                    method: 'DELETE'
                });
                const result = await response.json();
                if (result.success) {
                    showSnackBar(result.message);

                    window.location.reload();
                    
                } else {
                    alert('Error deleting coupon: ' + result.message);
                }
            } catch (error) {
                console.error('Error:', error);
            }
        } else {
            // If the user cancels the deletion, you can optionally handle it here
            console.log('Coupon deletion canceled.');
        }
    }
});
});
  
  
  
  document.getElementById('add-coupon-button').addEventListener('click',function(){
    const createCoupon = document.getElementById('coupon-form-container')
 
    const addOffer = document.getElementById('add-coupon-button')
    if(createCoupon.style.display ==='none'){
      createCoupon.style.display = 'block'
   
      addOffer.style.display = 'none'
    }else{
      createCoupon.style.display = 'none'
      addOffer.style.display = 'block'
    }
  })

  // document.getElementById('edit-coupon-btn').addEventListener('click',function(){
  //   const createCoupon = document.getElementById('coupon-form-container2')
  //   const editOffer = document.getElementById('edit-coupon-btn')
  //   const addOffer = document.getElementById('add-coupon-button')
  //   if(createCoupon.style.display ==='none'){
  //     createCoupon.style.display = 'block'
  //     editOffer.style.display = 'none'
  //     addOffer.style.display = 'none'
  //   }else{
  //     createCoupon.style.display = 'none'
  //     addOffer.style.display = 'block'
  //   }
  // })
  
  function showSnackBar(text) {
    var x = document.getElementById("snackbar");
    x.innerHTML = text
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
  }
  
  </script>


<script>

   
function validateModal() {
      let isValid = true;
  
      const offerName = document.getElementById('offerName').value.trim();
      const offerNameErr = document.getElementById('offerNameErr')
      if( offerName == ''){
        offerNameErr.textContent = 'Enter a code'
        offerNameErr.style.color = 'red'
        isValid = false;
      }else{
        offerNameErr.textContent = ''

      const discountPercentage = document.getElementById('discount').value.trim();
      const discountErr = document.getElementById('discountErr');
      if (discountPercentage === '' || discountPercentage <= 0 || discountPercentage >50 ) {
        discountErr.textContent = 'Enter a positive value between 0% and 50%';
        discountErr.style.color = 'red';
          isValid = false;
      } else {
        discountErr.textContent = '';
     
    

      const redeemAmount = document.getElementById('redeem_amount').value.trim();
      const redeemAmountErr = document.getElementById('redeem_amountErr');
      if (redeemAmount === '' || redeemAmount <= 0) {
        redeemAmountErr.textContent = 'Enter a positive value for redeemAmount';
        redeemAmountErr.style.color = 'red';
          isValid = false;
      } else {
        redeemAmountErr.textContent = '';
          
      }

      }
      
  
      }
  
     
      return isValid;
  }
</script>