<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/admin/assets/css/styles.min.css" />
  <link rel="stylesheet" href="/admin/assets/css/users.css" />
  
  <title>Admin Dashboard</title>
  <!-- pdf -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.23/jspdf.plugin.autotable.min.js"></script>

<!-- excel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>


<style>

  /* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
}

/* Card Title */
.card-title {
    font-size: 24px;
    color: #343a40;
    margin-bottom: 20px;
    text-align: center;
}

/* Sales Count */
h6 {
    font-size: 18px;
    color: #6c757d;
    text-align: center;
    margin-bottom: 20px;
}

/* Select Dropdown */
#report-type {
    width: 200px;
    padding: 8px;
    font-size: 16px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 20px;
    display: inline-block; /* Allows the select to stay inline with the button */
}


#download-excel{
  display: inline-block; /* Keeps the button inline with the select */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #115c01;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

#download-excel:hover {
    background-color: #1d8c04;
}
/* PDF Button */
#pdf-button {
    display: inline-block; /* Keeps the button inline with the select */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    /* float: right; Positions the button to the right */
}

#pdf-button:hover {
    background-color: #0056b3;
}

</style>
 
</head>
<body>
  <!-- Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between hello">
        
            <img src="/admin/assets/images/logos/dark-logo.svg" width="180" alt="" />
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/category" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Category</span>
              </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="/admin/brands" aria-expanded="false">
                  <span></span>
                  <span class="hide-menu">Brands</span>
                </a>
              </li>

              
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/products" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Products</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/users" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Users</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/orders" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Orders</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/coupons" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Coupon</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/offers" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Offer</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="/admin/salesreport" aria-expanded="false">
                <span></span>
                <span class="hide-menu">Sales Report</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="#" aria-expanded="false">
                <span></span>
                <span class="hide-menu"  id="logout-link"  >Logout</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!-- Sidebar End -->
    <!-- Main wrapper -->
    
<body>
  <link rel="stylesheet" href="/admin//assets/css/styles.min.css" />
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
 
  <!--  Sidebar End -->
  <!--  Main wrapper -->

  




   
<!-- table -->

<div class="col-lg-8 d-flex align-items-stretch main">
  <div class="card w-100">
    <div class="card-body p-4 ">
      <div class="button w-100 d-flex  justify-content-end">
        <!-- <a style="margin-right: 10px; width: 200px;" href="/admin/products/addcolors" class="btn btn-primary">Add Colors</a> -->
        <!-- <a style="width: 200px;" href="/admin/products/deletedcolors" class="btn btn-danger">Deleted Colors</a> -->
    </div>
      <h5 class="card-title fw-semibold mb-4" id="table">Orders</h5>
      <% if(orders){%>      
      <h6><p>Total Sales Count:<%=  orders.length%>  </p></h6>
      <% if( totalOrders){%>
        <h6> <p>  Total Order Count : <%= totalOrders.length  %></p></h6>

        <% } %>
      
      <%}else{%>
        <h6><p>Total Sales Count: 0  </p></h6>
        <%} %>
        <select id="report-type" name="reportType">
          <option value="reportType">reportType</option>
          <option value="daily" <%= reportType === 'daily' ? 'selected' : '' %>>Daily</option>
          <option value="weekly" <%= reportType === 'weekly' ? 'selected' : '' %>>Weekly</option>
          <option value="monthly" <%= reportType === 'monthly' ? 'selected' : '' %>>Monthly</option>
          <option value="yearly" <%= reportType === 'yearly' ? 'selected' : '' %>>Yearly</option>
        </select>
        
        
        <button id="pdf-button">Download PDF</button>

        <button id="download-excel">Download Excel</button>
      
        <div class="table-responsive" id="table">
          <table id="p-table" class="table text-nowrap mb-0 align-middle table-bordered" style="border:1px solid black; text-align:center">
            <thead class="text-dark fs-4">
              <tr>
                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Delivered Date</h6></th>
                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Order Id</h6></th>
                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Customer Name</h6></th>
                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">State</h6></th>
                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Payment Method</h6></th>
                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Product Name</h6></th>
                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Price</h6></th>
                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Offer</h6></th>
                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Offer Price</h6></th>
                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Qty</h6></th>
                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Total Price</h6></th>
                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Coupon Discount</h6></th>

               
                <th class="border-bottom-0"><h6 class="fw-semibold mb-0">Total Price</h6></th>
              </tr>
            </thead>
            <tbody id="tbody">
              <% if (orders) { %>
                <% orders.forEach((order) => { %>
                 
                    <tr>
                      <td class="border-bottom-0">
                        <span class="delivered-date" data-date="<%= order.orderedItems.deliveredDate %>"></span>
                      </td>
                      
                      <td class="border-bottom-0"><%= order.orderId %></td>
                      <td class="border-bottom-0"><%= order.orderedItems.name %></td>
                      <td class="border-bottom-0"><%= order.shippingAddress[0].state %></td>
                      <td class="border-bottom-0"><%= order.orderedItems.paymentMethod %></td>
                      <td class="border-bottom-0"><%= order.orderedItems.productName %></td>
                      <td class="border-bottom-0"><%= order.orderedItems.variantDetails.price %></td>
                      <% if (order.orderedItems.productDetails.offerApplied) { %>
                        <td class="border-bottom-0"><%= order.orderedItems.productDetails.offer %>%</td>
                        <td class="border-bottom-0"><%= order.orderedItems.productDetails.offerPrice %></td>
                        <td class="border-bottom-0"><%= order.orderedItems.quantity %></td>
                        <td class="border-bottom-0"><%= (order.orderedItems.productDetails.offerPrice) * (order.orderedItems.quantity) %> </td>
                        <% if(order.couponApplied){%>
                          <td class="border-bottom-0"><%= ((order.orderedItems.productDetails.offerPrice)  - (order.orderedItems.price)) *( order.orderedItems.quantity ) %></td>  <!-- discount Amount-->
                          <td class="border-bottom-0"><%= (order.orderedItems.price) *  (order.orderedItems.quantity)  %></td> 

                          <% }else{%>
                            <td class="border-bottom-0"><%= (order.orderedItems.productDetails.offerPrice)  - (order.orderedItems.price) %></td>  <!-- discount Amount-->
                            <td class="border-bottom-0"><%= (order.orderedItems.price) *  (order.orderedItems.quantity) %></td> 
                            <% } %>
                       
                      <% } else { %>
                        <td class="border-bottom-0">0</td>
                        <td class="border-bottom-0"><%= order.orderedItems.variantDetails.price %></td>
                        <td class="border-bottom-0"><%= order.orderedItems.quantity %></td>
                        <td class="border-bottom-0"><%= (order.orderedItems.variantDetails.price) * (order.orderedItems.quantity) %></td>
                        <% if(order.couponApplied){%>
                          <td class="border-bottom-0"><%= ((order.orderedItems.variantDetails.price) * (order.orderedItems.quantity)) - (order.orderedItems.totalAmount) %></td>  <!-- discount Amount-->
                          <td class="border-bottom-0"><%= (order.orderedItems.totalAmount) %></td> 

                          <% }else {%>
                            <td class="border-bottom-0">0</td>  <!-- discount Amount-->
                            <td class="border-bottom-0"><%= (order.orderedItems.totalAmount)  %></td> 
                            <%} %>
                      <% } %>
                      <!-- <td class="border-bottom-0"><%= order.orderedItems.quantity %></td> -->
                      <!-- <% if (order.orderedItems.productDetails.offerApplied) { %>
                        <td class="border-bottom-0"><%= order.orderedItems.productDetails.offerPrice %></td>
                      <% } else { %>
                        <td class="border-bottom-0"><%= (order.orderedItems.variantDetails.price) * ( order.orderedItems.quantity)%></td>
                      <% } %> -->
                    </tr>
                  <% }) %>
               
              <% } %>
            </tbody>
          </table>
        </div>     
       
      <br>
        <div class="pagination-container"> 
          <ul class="pagination">
            <% 
              const queryParams = new URLSearchParams({
                reportType: reportType,  // Include the current reportType
                limit: limit              // Include the current limit
              }).toString();
            %>
        
            <% if (currentPage > 1) { %>
              <li class="page-item">
                <a class="page-link" href="/admin/salesreport?page=<%= currentPage - 1 %>&<%= queryParams %>">Previous</a>
              </li>
            <% } else { %>
              <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
              </li>
            <% } %>
        
            <% for (let i = 1; i <= totalPages; i++) { %>
              <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                <a class="page-link" href="/admin/salesreport?page=<%= i %>&<%= queryParams %>"><%= i %></a>
              </li>
            <% } %>
        
            <% if (currentPage < totalPages) { %>
              <li class="page-item">
                <a class="page-link" href="/admin/salesreport?page=<%= currentPage + 1 %>&<%= queryParams %>">Next</a>
              </li>
            <% } else { %>
              <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
              </li>
            <% } %>
          </ul>
        </div>
        
    </div>
  </div>
</div>



  
</div>



<script>

document.getElementById('report-type').addEventListener('change', function() {
    const reportType = document.getElementById('report-type').value;
    console.log(reportType, 'reportType');

 
    const params = new URLSearchParams(window.location.search);
    params.set('reportType', reportType);

    window.location.href = `/admin/salesreport?${params.toString()}`;
});



document.getElementById('pdf-button').addEventListener('click', function() {
    // Use jsPDF
    const { jsPDF } = window.jspdf;
    // Create a new instance of jsPDF
    const doc = new jsPDF();
    // AutoTable plugin for jsPDF to handle HTML tables
    doc.autoTable({ html: '#p-table' });
  
    doc.save('table.pdf');
});

</script>


<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/js/sidebarmenu.js"></script>
<script src="../assets/js/app.min.js"></script>
<script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.js"></script>
<script src="../assets/js/dashboard.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
document.getElementById('logout-link').addEventListener('click', function(event) {
    event.preventDefault();
    Swal.fire({
        title: 'Do you want to logout?',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonText: 'Yes, logout',
        cancelButtonText: 'No, stay logged in'
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = '/admin/logout';
        }
    });
});
</script>

<!-- excel -->


<script>
  document.getElementById("download-excel").addEventListener("click", function () {
      // Get the table data
      const table = document.getElementById("p-table");
      const wb = XLSX.utils.table_to_book(table, { sheet: "Sheet1" });
  
      // Trigger the download
      XLSX.writeFile(wb, "orders_report.xlsx");
  });
  </script>

  <script>

document.addEventListener('DOMContentLoaded', function() {
  const dateElements = document.querySelectorAll('.delivered-date');

  dateElements.forEach(function(element) {
    const rawDate = element.getAttribute('data-date');
    const date = new Date(rawDate);
    
    // Options for the formatted date
    const options = { year: 'numeric', month: 'long', day: 'numeric' };
    const formattedDate = date.toLocaleDateString(undefined, options);
    
    // Set the formatted date as the element's text content
    element.textContent = formattedDate;
  });
});

  </script>
</body> 
